In [3]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.3-py3-none-any.whl (7.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.3

In [4]:
from ucimlrepo import fetch_ucirepo
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [ ]:
# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
X = adult.data.features
y = adult.data.targets

In [ ]:
# Let's concatenate X and y along columns
df = pd.concat([X, y], axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45222 entries, 0 to 45221
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             45222 non-null  int64
 1   workclass       45222 non-null  object
 2   fnlwgt          45222 non-null  int64
 3   education       45222 non-null  object
 4   education-num   45222 non-null  int64
 5   marital-status  45222 non-null  object
 6   occupation      45222 non-null  object
 7   relationship    45222 non-null  object
 8   race            45222 non-null  object
 9   sex             45222 non-null  object
 10  capital-gain    45222 non-null  int64
 11  capital-loss    45222 non-null  int64
 12  hours-per-week  45222 non-null  int64
 13  native-country  45222 non-null  object
 14  income          45222 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.2+ MB

In [ ]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
# Replace "?" with NaNs
df.replace("?", np.nan, inplace=True)

# Treat empty data as NaNs
df.replace("", np.nan, inplace=True)

# Remove rows with NaN values
df.dropna(axis=0, inplace=True)

# Reset index after dropping rows
df.reset_index(drop=True, inplace=True)

In [ ]:
# Iterate over each column in the DataFrame
for column in df.columns:
    # Print the column name
    print(column + ":", df[column].unique())

age: [39 50 38 53 28 37 49 52 31 42 30 23 32 34 25 43 40 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 47 46 36 79 27 18 33 76 55 61 70 64 71 66 51 58
 26 17 60 90 75 65 77 62 63 67 74 72 69 68 73 81 78 88 80 84 83 85 82 86
 89 87]
workclass: ['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov'
 'Self-emp-inc' 'Without-pay']
fnlwgt: [ 77516  83311 215646 ... 173449  89686 350977]
education: ['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 '7th-8th' 'Doctorate' 'Assoc-voc' 'Prof-school' '5th-6th' '10th'
 'Preschool' '12th' '1st-4th']
education-num: [13  9  7 14  5 10 12  4 16 11 15  3  6  1  8  2]
marital-status: ['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
occupation: ['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Transport-moving' 'Farming-fishing'
 'Machine-op-inspct' 'Tech-support' 'Craft-repair' 'Protective-serv'
 'Armed-Forces' 'Priv-house-serv']
relationship: ['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
race: ['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
sex: ['Male' 'Female']
capital-gain: [ 2174     0 14084  5178  5013  2407 14344 15024  7688  4064  4386  7298
  1409  3674  1055  2050  2176   594 20051  6849  4101  8614  3411  2597
 25236  4650  2463  3103 10605  2964  3325  2580  3471  4865 99999  6514
  1471  2329  2105  2885 10520  2202  2961 27828  6767  2228  1506 13550
  2635  5556  4787  3781  3137  3818   914   401  2829  2977  4934  2062
  2354  3464  5455 15020  1424  3273 22040  4416 10566  4931  7430 34095
  6497  3908   114  2346  2907  1151  9386  2414  2290  3418 15831 41310
  4508  2538  3456  1848  3887  7896  5721  9562  6418  1455  2036  3942
  1831 11678  2936  2993  7443  6360  4687  1797  6723  2009  3432  6097
  1639  2653 18481 25124  7978   991  1173  2387  5060  1086  1264  7262
  1731]
capital-loss: [   0 2042 1408 1902 1887 1719 1762 1564 2179 1816 1980 1977 1876 1340
 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653 2392
 1504 1590 1651 1628 1848 2001 1740 2002 1579 2258 1602 2547 2205 1726
 2444 1138 2238  625  213 1539  880 1668 1092 1594 2231 1844  810 2824
 2559 2057 1573 1974  974 2174 2149 1735 1258 2603 2282  323 2246 1617
 1648 1825 3770 1755 3683 2129 4356 2267 2080 2457  419  155 3900 2201
 1944 2467 2754 2472 3004 1411 1429 3175 1870 1911 1510 1421 2163]
hours-per-week: [40 13 16 45 50 80 30 35 60 20 52 44 15 25 43 38 55 48 58 32 70 22 56 41
 28 36 24 46  2 42 12 65  1 34 75 98 33 54 10  6 64 19 18 72  8  9 47 37
 21 26 14  5  7 99 53 39 62 59 57 78 90 66 11 49 84 17 68  3 27 85 31 51
 77 63 23  4 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95 79 69]
native-country: ['United-States' 'Cuba' 'Jamaica' 'India' 'Mexico' 'Puerto-Rico'
 'Honduras' 'England' 'Canada' 'Germany' 'Iran' 'Philippines' 'Poland'
 'Columbia' 'Cambodia' 'Thailand' 'Ecuador' 'Laos' 'Taiwan' 'Haiti'
 'Portugal' 'Dominican-Republic' 'El-Salvador' 'France' 'Guatemala'
 'Italy' 'China' 'South' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']
income: ['<=50K' '>50K']

In [ ]:
# Remove the period from income categories
df['income'] = df['income'].str.strip('.')

In [ ]:
# Set the style of seaborn
sns.set(style="whitegrid")

# 1. Histograms or Density Plots
def plot_histograms(df):
    numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
    for col in numerical_cols:
        plt.figure(figsize=(8, 6))
        sns.histplot(df[col], kde=True)
        plt.title(f'Histogram of {col}')
        plt.xlabel(col)
        plt.ylabel('Frequency')
        plt.show()

# 2. Bar Plots
def plot_barplots(df):
    categorical_cols = df.select_dtypes(include=['object']).columns
    for col in categorical_cols:
        plt.figure(figsize=(8, 6))
        sns.countplot(data=df, x=col)
        plt.title(f'Bar Plot of {col}')
        plt.xlabel(col)
        plt.ylabel('Count')
        plt.xticks(rotation=45)
        plt.show()

# 3. Box Plots
def plot_boxplots(df):
    numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
    for col in numerical_cols:
        plt.figure(figsize=(8, 6))
        sns.boxplot(data=df, y=col)
        plt.title(f'Box Plot of {col}')
        plt.ylabel(col)
        plt.show()

# 4. Correlation Heatmap
def plot_correlation_heatmap(df):
    plt.figure(figsize=(10, 8))
    sns.heatmap(df.corr(), annot=True, cmap='coolwarm', fmt=".2f")
    plt.title('Correlation Heatmap')
    plt.show()

# 5. Pair Plot (Scatter Matrix)
def plot_pairplot(df):
    sns.pairplot(df, diag_kind='kde')
    plt.suptitle('Pair Plot (Scatter Matrix)', y=1.02)
    plt.show()

In [ ]:
plot_histograms(df)

In [ ]:
plot_barplots(df)

In [ ]:
plot_boxplots(df)

In [ ]:
plot_correlation_heatmap(df)

In [ ]:
plot_pairplot(df)

In [ ]:
df.to_csv("cleaned_adult_data.csv", index=False)

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [19]:
# Load the cleaned dataset
df = pd.read_csv("cleaned_adult_data.csv")

# Split the dataset into features (X) and target variable (y)
X = df.drop(columns=['income'])  # Features
y = df['income']  # Target variable

X_encoded = pd.get_dummies(X)

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.3, random_state=1)

In [20]:
from sklearn.naive_bayes import GaussianNB

# Initialize the Naive Bayes classifier
naive_bayes = GaussianNB()

# Train the classifier on the training data
naive_bayes.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = naive_bayes.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7915530330950099

In [21]:
from sklearn.ensemble import RandomForestClassifier

# Initialize the Random Forest classifier
random_forest = RandomForestClassifier(random_state=1)

# Train the classifier on the training data
random_forest.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = random_forest.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8495614358369573

In [22]:
from sklearn.metrics import classification_report, confusion_matrix

# Predictions for Naive Bayes
nb_predictions = naive_bayes.predict(X_test)

# Predictions for Random Forest
rf_predictions = random_forest.predict(X_test)

# Naive Bayes model evaluation
print("Evaluation Metrics for Naive Bayes:")
nb_report = classification_report(y_test, nb_predictions)
print(nb_report)

nb_conf_matrix = confusion_matrix(y_test, nb_predictions)
print("Confusion Matrix for Naive Bayes:")
print(nb_conf_matrix)

# Random Forest model evaluation
print("\nEvaluation Metrics for Random Forest:")
rf_report = classification_report(y_test, rf_predictions)
print(rf_report)

rf_conf_matrix = confusion_matrix(y_test, rf_predictions)
print("Confusion Matrix for Random Forest:")
print(rf_conf_matrix)

Evaluation Metrics for Naive Bayes:
              precision    recall  f1-score   support

       <=50K       0.81      0.95      0.87     10230
        >50K       0.66      0.31      0.42      3337

    accuracy                           0.79     13567
   macro avg       0.73      0.63      0.65     13567
weighted avg       0.77      0.79      0.76     13567

Confusion Matrix for Naive Bayes:
[[9695  535]
 [2293 1044]]

Evaluation Metrics for Random Forest:
              precision    recall  f1-score   support

       <=50K       0.88      0.92      0.90     10230
        >50K       0.73      0.62      0.67      3337

    accuracy                           0.85     13567
   macro avg       0.80      0.77      0.79     13567
weighted avg       0.84      0.85      0.85     13567

Confusion Matrix for Random Forest:
[[9452  778]
 [1263 2074]]

In [26]:
class_counts = df['income'].value_counts()
class_proportions = class_counts / class_counts.sum()
print(class_proportions)

<=50K    0.5
>50K     0.5
Name: income, dtype: float64

In [25]:
from imblearn.over_sampling import SMOTE

# Apply SMOTE to balance the classes
smote = SMOTE(random_state=1)
X_oversampled, y_oversampled = smote.fit_resample(X_encoded, y)

# Split the resampled dataset into training and testing sets
X_train_oversampled, X_test_oversampled, y_train_oversampled, y_test_oversampled = train_test_split(X_oversampled, y_oversampled, test_size=0.3, random_state=1)

# Convert the oversampled features and target arrays into DataFrame
df = pd.DataFrame(X_oversampled, columns=X_encoded.columns)
df['income'] = y_oversampled

In [ ]:
class_counts = df['income'].value_counts()
class_proportions = class_counts / class_counts.sum()
print(class_proportions)

In [27]:
# Initialize the Naive Bayes classifier
naive_bayes = GaussianNB()

# Train the classifier on the resampled training data
naive_bayes.fit(X_train_oversampled, y_train_oversampled)

# Make predictions on the testing data
y_pred_oversampled = naive_bayes.predict(X_test_oversampled)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test_oversampled, y_pred_oversampled)
print("Accuracy:", accuracy)

Accuracy: 0.6225194767014552

In [28]:
# Initialize the Random Forest classifier
random_forest = RandomForestClassifier(random_state=1)

# Train the classifier on the resampled training data
random_forest.fit(X_train_oversampled, y_train_oversampled)

# Make predictions on the testing data
y_pred_oversampled = random_forest.predict(X_test_oversampled)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test_oversampled, y_pred_oversampled)
print("Accuracy:", accuracy)

Accuracy: 0.896271252878632

In [29]:
from sklearn.metrics import classification_report, confusion_matrix

# Predictions for Naive Bayes
nb_predictions = naive_bayes.predict(X_test_oversampled)

# Predictions for Random Forest
rf_predictions = random_forest.predict(X_test_oversampled)

# Naive Bayes model evaluation
print("Evaluation Metrics for Naive Bayes:")
nb_report = classification_report(y_test_oversampled, nb_predictions)
print(nb_report)

nb_conf_matrix = confusion_matrix(y_test_oversampled, nb_predictions)
print("Confusion Matrix for Naive Bayes:")
print(nb_conf_matrix)

# Random Forest model evaluation
print("\nEvaluation Metrics for Random Forest:")
rf_report = classification_report(y_test_oversampled, rf_predictions)
print(rf_report)

rf_conf_matrix = confusion_matrix(y_test_oversampled, rf_predictions)
print("Confusion Matrix for Random Forest:")
print(rf_conf_matrix)

Evaluation Metrics for Naive Bayes:
              precision    recall  f1-score   support

       <=50K       0.58      0.94      0.72     10256
        >50K       0.84      0.30      0.44     10153

    accuracy                           0.62     20409
   macro avg       0.71      0.62      0.58     20409
weighted avg       0.71      0.62      0.58     20409

Confusion Matrix for Naive Bayes:
[[9685  571]
 [7133 3020]]

Evaluation Metrics for Random Forest:
              precision    recall  f1-score   support

       <=50K       0.89      0.91      0.90     10256
        >50K       0.91      0.88      0.89     10153

    accuracy                           0.90     20409
   macro avg       0.90      0.90      0.90     20409
weighted avg       0.90      0.90      0.90     20409

Confusion Matrix for Random Forest:
[[9343  913]
 [1204 8949]]